BACKUP_NAME=sso
DB_HOST=managed-mysql-host
DB_PORT=25060
DB_ADMIN_USER=sso-restore-user
DB_ADMIN_PASSWORD=
DB_SSL_CA=/etc/ssl/certs/digitalocean-mysql-ca.pem
BACKUP_AGE_IDENTITY=/etc/legacy-hosting/restore/backup-age-key.txt
RESTORE_DATABASE_PREFIX=lh_sso_restore_drill
MIGRATION_TABLE=sso_schema_migrations
RESTORE_REQUIRED_TABLES="sso_users sso_identities sso_user_roles sso_passkeys sso_oidc_artifacts"
